node_modules/
*.js.map
.env
.history
.config/.env.local
build
dist
**/.DS_Store
.nyc_output
# Local .terraform directories
**/.terraform/*
src/dialogs/locales/callbackBot/
src/dialogs/locales/unblockBot/
!example.json
*.pfx
# .tfstate files
*.tfstate
*.tfstate.*