# LOCAL HOST TESTING # MicrosoftAppId= # MicrosoftAppPassword= # ScmType=None
# BOT REGISTRY CONFIGURATION
MicrosoftAppId=
MicrosoftAppPassword=
ScmType=None
# LUIS EN
LuisAppIdEN=
LuisAPIKeyEN=
LuisAPIHostNameEN=canadacentral
# LUIS FR
LuisAppIdFR=
LuisAPIKeyFR=
LuisAPIHostNameFR=canadacentral

# Project
PROJECT=callback-bot-backend
ENVIRONMENT=local
TZ=America/Vancouver

LuisAppIdEN=552ba77b-b2a9-4d23-b552-0d11e87e4e51
LuisAPIKeyEN=68f69c659e7f4d3493bed91fa2ecca35
LuisAPIHostNameEN=virtual-assistant-luis-bdm-dev

AddressAPIUrl=https://services-nonprd.api.esdc-edsc.canada.ca/foundation/address/wsaddress/ground/v1/CAN/search

LuisAppIdFR=2826ec35-441c-4125-bd58-d40369255dcb
LuisAPIKeyFR=68f69c659e7f4d3493bed91fa2ecca35
LuisAPIHostNameFR=virtual-assistant-luis-bdm-dev